<div class="nested-fields from-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
    <%= f.check_box("complete") %>
    <%= link_to_remove_association 'Remove Task',f, class: 'btn btn-danger btn-sm'%>

</div>